body{
    background-color: rgb(217, 216, 225);
}
h1{
    text-align: center; color: blue; font-style: italic;
}
p{
   font-size: 400; font-family: 'Mynerve', cursive; color: brown;
}
h2{
   font-family: Verdana, Geneva, Tahoma, sans-serif ; font-size: 400; color: blueviolet;
}
h3{
    font-family: 'Dancing Script', cursive; font-size: 400; color: black;
}